<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2008-1A/src/edu/mitrofanov/codejam/r1a_2008/task_b/CopyPasteWorkingSolution.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.mitrofanov.codejam.r1a_2008.task_b.CopyPasteWorkingSolution"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2008-1A"/>
</launchConfiguration>
